.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  height: 100%;

  .open-menu {
    height: 0px;
    width: 25%;
    background-color: white;
    float: right;
    position: relative;
    border-radius: 0 0 3px 0;

    .menu-contents {
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      position: relative;
      background-color: rgb(250, 250, 250);

      .user-name {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          max-width: 300px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .top-btns {
        display: flex;
        width: 100%;

        a {
          height: 40px;
          width: 50%;
          text-align: center;
          line-height: 40px;
          border-top: 1px solid rgb(237, 237, 237);
          font-size: 70%;
          text-decoration: none;
          color: #333333;

          .follow-count {
            border-right: 1px solid rgb(237, 237, 237);
          }
        }

        a:hover {
          color: rgb(149, 149, 149);
        }
      }
  
      .center-btns {
        width: 100%;
  
        a {
          text-decoration: none;
        }
  
        a:hover {
          background-color: rgb(0, 170, 255);
          color: white;
        }
    
        .user-btn {
          display: block;
          height: 50px;
          width: 100%;
          line-height: 50px;
          border-top: 1px solid rgb(237, 237, 237);
          text-align: center;
          color: rgb(0, 170, 255);
        }

        .ToPost-btn {
          display: block;
          height: 60px;
          width: 100%;
          line-height: 60px;
          border-top: 1px solid rgb(237, 237, 237);
          text-align: center;
          color: white;
          background-color: rgb(0, 170, 255);
        }
      }

      .bottom-btns {
        position: absolute;
        bottom: 25px;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          text-decoration: none;
          color: #8e8e8e;
          margin: 0 20px;
        }

        span {
          font-size: 1em;
        }
        
        i {
          font-size: 1em;
          margin-right: 5px;
        }
      }

      .mypage-info {
        height: 100px;
        width: 100%;

        h5 {
          padding: 30px 20px;
          font-size: 110%;
          line-height: 25px;
          color: rgb(95, 111, 127);
        }
      }

      .Not-signed-in {
        height: 200px;
        width: 100%;
        display:flex;
        flex-flow: column;
        justify-content: space-evenly;

        .signUp-btn {
          display: block;
          height: 60px;
          width: 200px;
          background-color: rgb(0, 170, 255);
          color: white;
          text-align: center;
          line-height: 60px;
          text-decoration: none;
          margin: 0 auto;
          border: 1px solid rgb(0, 170, 255);
        }

        .login-btn {
          display: block;
          height: 60px;
          width: 200px;
          color: rgb(0, 170, 255);
          border: 1px solid rgb(0, 170, 255);
          text-align: center;
          line-height: 60px;
          text-decoration: none;
          margin: 0 auto;
        }
      }
    }

    .clip-btn {
      position: absolute;
      right: 10px;
      bottom: -29px;
      height: 27px;
      width: 70px;
      background-color: white;
      border-radius: 0px 0px 10px 10px;
      align-items: center;
      justify-content: center;
      border-left: 2px solid rgb(0, 170, 255);
      border-right: 2px solid rgb(0, 170, 255);
      border-bottom: 2px solid rgb(0, 170, 255);
      border-top: 1px solid gray;
      cursor: pointer;

      span {
        height: 2px;
        width: 40px;
        background-color: black;
        display: block;
        margin: 4px auto;
        border-radius: 50px;
      }
    }
  }

  .main {
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: white;

    .intro {
      width: 100%;
      overflow: scroll;

      ul {
        display: flex;
      }

      img {
        width: auto;
        max-height: 530px;
        background-size: cover;
        background-position: center;
      }
    }

    .intro::-webkit-scrollbar {
      display:none;
    }

    .all-items {
      max-width: 1000px;
      height: 100%;
      margin: auto;

      .title-homes {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: flex-end;
        padding: 0 0 20px 0;
        
        h2 {
          font-size: 150%;
          color: rgb(0, 170, 255);

          span {
            color: rgb(170, 170, 170);
            font-size: 75%;
            margin-left: 5px;
          }
        }
      }

      .items {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 100px 0;

        .post-item {
          width: 300px;
          max-height: 350px;
          border: 1px solid rgb(186, 186, 186);
          margin: 15px;

          .item-title {
            height: 40px;
            width: 100%;
            border-bottom: 1px solid rgb(186, 186, 186);
            display: flex;
            align-items: center;

            p {
              font-size: 100%;
              padding: 10px;
              color: #333333;
            }
          }

          .item-image {
            height: 200px;
            width: 100%;

            img {
              width: 100%;
              max-height: 100%;
              background-size: cover;
            }
          }

          .item-category {
            height: 30px;
            width: 100%;
            padding: 0 10px;
            
            p {
              display: inline-block;
              color: lightgray;
              font-size: 90%;
              height: 30px;
              width: 64px;
              line-height: 30px;
              margin-right: 5px;
            }

            span {
              margin: 0 5px;
              font-size: 90%;
              color: gray;
            }

            a {
              font-size: 90%;
              text-decoration: none;
              color: rgb(0, 170, 255);
            }
          }

          .item-price {
            height: 30px;
            width: 100%;
            padding: 0 10px;

            span {
              display: inline-block;
              color: lightgray;
              font-size: 90%;
              height: 30px;
              width: 64px;
              line-height: 30px;
              margin-right: 5px;
            }

            p {
              display: inline-block;
              font-size: 90%;
              color: #333333;
            }
          }

          .see-more {
            width: 100%;
            height: 40px;
            background: linear-gradient(to bottom, #FFF, #f3f3f3);
            display: flex;
            align-items: center;
            justify-content: center;

            #see-more-btn {
              color: rgb(154, 154, 154);
              font-size: 80%;
              padding: 10px 100px;

              i {
                margin-left: 3px;
                display: inline-block;
                font-size: 110%;
              }
            }

            #see-more-btn:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
