<div class="wrapper">
  <div class="header">
    <img src="assets/logo.jpg">
    <div class="new-user-area">
      <%= link_to "新規登録", "#", class: "signup-btn" %>
      <%= link_to "ログイン", "#", class: "login-btn" %>
    </div>
    <div class="clip-btn"><span></span><span></span><span></span></div>
  </div>
  <div class="main">
    <div class="intro">
      <ul>
        <li><img src="assets/room03.jpg"></li>
        <li><img src="assets/room04.jpg"></li>
        <li><img src="assets/room01.jpg"></li>
        <li><img src="assets/room02.jpg"></li>
        <li><img src="assets/room05.jpg"></li>
        <li><img src="assets/room06.jpg"></li>
        <li><img src="assets/room07.jpg"></li>
      </ul>
    </div>
  </div>
  <div class="footer">
  </div>
</div>