/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

p.alert, p.notice {
  color: rgb(0, 170, 255);
  padding: 5px 0 0 5px;
  position: absolute;
  background-color: white;
  max-width: 400px;
}

.header {
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.678);

  img {
    width: auto;
    height: 37px;
  }
}

.footer {
  min-height: 70px;
  height: 100%;
  width: 100%;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
}
